body {
    background-color: black;
    color: white;
    line-height: 1.8;
}
header {
    text-align: center;
    padding: 50px;
    font-family: fantasy;
    font-size: xx-large;
}
h1 {
    text-align: center;
    font-family: fantasy;
    font-size: x-large;
}
.container {
    text-align: center;
    font-family: fantasy;

}